label {
    margin-top: 5px;
    margin-bottom: 0;
}

.panel-heading {
    padding: 40px 15px;
}

.padding-x-none {
    padding-left: 0;
    padding-right: 0;
}

.text-preserve {
    white-space: pre;
}